<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>EventoApp</title>
</head>
<body>
    <h1>Cadastro de eventos</h1>
    <form method="post" action="">
        Nome: <input type="text" value="" name="nome" placeholder="Insira o seu nome"/>
        Local: <input type="text" value="" name="local" placeholder="Insira o seu local"/>
        Data: <input type="date" value="" name="data" placeholder="Insira a data do evento"/>
        Horario: <input type="time" value="" name="horario" placeholder="Insira o horario do evento"/>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>